<div [style.width.px]="width" [style.height.px]="height" #elementWithDrag appDraggable [appDraggableInitialPosition]="initialPosition" class="float-window">

  <!-- Header acts as the drag handle -->
  <div class="drag-handle" [ngClass]="{'cursor-grab': !isDragging, 'cursor-grabbing': isDragging}" (mousedown)="isDragging = true" (mouseup)="isDragging = false">
    <h2>{{ title }}</h2>
    <!-- Close button -->
    <button (click)="close()" class="drag-handle-close">
      &times;
    </button>
  </div>

  <!-- Window Content -->
  <div class="float-window-content gallery-padding-fix overflow-hidden">
    <div class="gallery-grid overflow-y-auto">
      @for (asset of corvidNfts; track $index) {
        <div class="gallery-image-container">
          <app-nft-card [imageUrl]="asset.imageIpfsUrl?? ''" [title]="asset.name"></app-nft-card>
        </div>
      }
    </div>
  </div>
</div>
