// Component styles - global styles are already applied at app level

.gallery-padding-fix {
  padding: 1rem 0.2rem 1rem 1rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  // flex-grow: 1;       // flex-grow
  height: 100%;     // full height
  width: 100%;
}

.gallery-image-container {
  // col-span-1
  grid-column: span 1;
}