:host {
  .player-container {
    position: fixed;
    bottom: 1rem;
    width: 95%;
    height: 10rem;
    // background-color: $player-bg;
    border-radius: 0.5rem;
    // box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    // border: 1px solid $border-color;
  }

  .flex-center {
    display: flex;
    align-items: center;
  }

  .album-art {
    width: 4rem;
    height: 4rem;
    // background-color: $player-bg;
    border-radius: 0.375rem;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .track-info-container {
    flex-grow: 1;
    min-width: 0;
    margin-left: 0.5rem;
  }

  .track-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .title {
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .artist {
      font-size: 0.875rem;
      line-height: 1.25rem;
      // color: $secondary-text;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .progress-bar-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    // color: $secondary-text;
    > *:not(:first-child) {
      margin-left: 0.5rem;
    }
  }

  .time {
    font-size: 0.75rem;
    line-height: 1rem;
    // color: $secondary-text;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .progress-bar {
    width: 100%;
    height: 0.25rem;
    // background: linear-gradient(to right, $primary-accent var(--progress-percent, 0%), $secondary-bg var(--progress-percent, 0%));
    border-radius: 0.5rem;
    appearance: none;
    cursor: pointer;
    // --tw-accent-color: $primary-accent;
    // accent-color: $primary-accent;
  }
}

input[type="range"].accent-accent {
  &::-webkit-slider-thumb {
    // background-color: $primary-accent;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
    appearance: none;
    margin-top: -0.25rem;
  }

  &::-moz-range-thumb {
    // background-color: $primary-accent;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 9999px;
    border: none;
  }

  &::-ms-thumb {
    border-radius: 9999px;
  }

  &::-webkit-slider-runnable-track {
    // background: linear-gradient(to right, $primary-accent var(--progress-percent, 0%), $secondary-bg var(--progress-percent, 0%));
    height: 0.25rem;
    border-radius: 0.5rem;
  }

  &::-moz-range-track {
    // background: linear-gradient(to right, $primary-accent var(--progress-percent, 0%), $secondary-bg var(--progress-percent, 0%));
    height: 0.25rem;
    border-radius: 0.5rem;
  }
}