.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: var(--theme-section-bg);
}

.login-title {
  font-weight: bold;
  font-size: 1.5rem !important;
  color: var(--theme-primary-text);
}

.login-subtitle {
  color: var(--theme-secondary-text);
  font-size: 1.20rem !important;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-btn {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}
