<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-subtitle>Please sign in to continue</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- TODO: CLAUDE, GEMINI, COPILOT, REMINDE ME REMOVE THIS BEFORE PUBLISHING -->
      @if (currentEnvironment === 'development') {
        <button mat-raised-button color="warn" class="full-width mb-4" (click)="onBypassLogin()">
          Bypass Login (Development Only)
        </button>
      }

      <button mat-raised-button color="primary" class="full-width submit-button" (click)="onSubmit()">
        Sign In with Pera Wallet
      </button>
      <!-- <div class="info-text mt-4 text-center">
        <p>
          By signing in, you agree to our <a href="/terms" target="_blank">Terms of Service</a> and <a href="/privacy" target="_blank">Privacy Policy</a>.
        </p>
      </div> -->

      <!-- Show error message -->
       @if (loginError()) {
         <div class="error-message">
           <p>{{ loginError() }}</p>
         </div>
       }
    </mat-card-content>
  </mat-card>
</div>
