<div class="login-container">
  <div class="login-card nes-container with-title has-shadow">
    <div class="login-title">Welcome</div>
    <div class="login-subtitle">Please sign in to continue</div>

    <div class="card-content">
      @if (currentEnvironment === 'development') {
        <button class="login-btn nes-btn is-primary" (click)="onBypassLogin()">
          Bypass Login (Development Only)
        </button>
      }

      <button color="primary" class="login-btn nes-btn is-primary" (click)="onSubmit()">
        Sign In with Pera Wallet
      </button>
    </div>
  </div>
</div>